@model ProyectoSaberProWeb.Models.Competencia

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}


<h2>Eliminar Competencia</h2>
<div class="form-horizontal">
    <div class="form-row">
        <div class="col">
            <h3>Esta seguro de eliminar esta competencia?</h3>
        </div>
        <div class="col" align="right">
            &nbsp;
            <a href="@Url.Action("index")">
                <i class="far fa-arrow-alt-circle-left fa-2x">
                </i>
            </a>
            <!--Aqui debe mirar a cual index debe volver-->
        </div>
    </div>
</div>

<div>
    <h4>Competencia</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombre)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-danger" /> 
        </div>
    }
</div>
