@model ProyectoSaberProWeb.Models.ViewModels.RespondeCompetenciaPruebaViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAlumno.cshtml";
}
    <center>
        <div class="card shadow mb-3 col-md-8">
            <div class="card-header py-3 col-md-13">
                <h4 class="m-0 font-weight-bold text-success">Presentar prueba</h4>
            </div>
            <div class="card-body">
                <div id="dataTable_wrapper" class="dataTables_wrapper dt-bootstrap4">
                    <div class="col-sm-12 col-md-8">
                        <div id="dataTable_filter" class="dataTables_filter">
                            <font style="vertical-align: inherit;">
                                @using (Html.BeginForm("ResolverPrueba", "Estudiante", FormMethod.Post))
                                {

                                    @Html.LabelFor(model => model.PruebaPresentando.Nombre)
                                    @Html.DropDownListFor(model => model.PruebaPresentando.ID, Model.ListaPruebas, new { @class = "form-control" })
                                    <br />
                                    @Html.LabelFor(model => model.CompetenciaPresentando.Nombre) <label>competencia</label>
                                    @Html.DropDownListFor(model => model.CompetenciaPresentando.ID, Model.ListaCompetencias, new { @class = "form-control" })
                                    <br />
                                    <button type="submit" class="btn btn-success">
                                        Presentar competencia
                                    </button>
                                }
                            </font>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </center>