@model  IEnumerable<ProyectoSaberProWeb.Models.Prueba>
@{
    ViewBag.Title = "MiraResultados";
    Layout = "~/Views/Shared/_LayoutAlumno.cshtml";
}

<h2>MiraResultados</h2>

@*Aquí debería salirle una tabla con las pruebas que ha presentado*@


