@using ProyectoSaberProWeb.Models 
@model LoginViewModel
@{
    ViewBag.Title = "Login";
}


<head>
    <link rel="stylesheet" href="~/Content/css/StyleLogin.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>
    <div>
        <img src="~/Content/img/unnamed.png" alt="avatar" class="avatar" />
    </div>
    <div class="login-form">
        
        <h3>Iniciar Sesi&oacute;n / Registrarse</h3>

        <div class="txtb"></div>
        <div class="boton">
            <section id="socialLoginForm">
                @Html.Partial("_ExternalLoginsListPartial", new ExternalLoginListViewModel { ReturnUrl = ViewBag.ReturnUrl})
            </section>
        </div>
        <div class="logoUdi">
            <img class="logo" src="~/Content/img/Logo-udi-web.png" alt="logo UDI" />
        </div>
    </div>
    <script type="text/javascript">
        $(".txtb input").on("focus", function () {
            $(this).addClass("focus");
        });
        $(".txtb input").on("blur", function () {
            if ($(this).val() == "")
                $(this).removeClass("focus");
        });
    </script>
</body>